<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="anigilyatornayapushka">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="start_page">
        <div class="start_btn_wrapper">
            <button id="start_btn">Start game</button>
        </div>
    </div>

    <div class="game_wrapper">
        <div id="game">
            <div class="menu">
                <h1>30 bombs. 11x11</h1>
            </div>
            <div class="cells">
                <div class="field">

                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/app.js"></script>
</body>
</html>